<h1>Projects#show</h1>

<h4><%= @project.name %></h4>
<br>
<span><%= @project.subject %></span>

<br>
<br>

<% if teacher_signed_in? %>
  <span><%= link_to 'Edit', edit_project_path(@project)%></span>
  <span><%= link_to 'Delete', project_path(@project),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></span>
<% end %>
